
//Cards Section
.cards-section {
  display: flex;
  justify-content: space-between;
}

.card-name {
  position: absolute;
  top: 0.5rem;
  z-index: 2;
  color: #1e3643;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
}

.card-name {
  position: absolute;
  top: 0;
}

.small {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.25rem;
}
