//Intro
.intro-wrapper {
  margin-bottom: $ymargin-btm;
}

.intro-wrapper p {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .intro-wrapper {
    width: 75%;
  }
}

//Work
.work {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.skills li {
  font-style: italic;
  font-style: $font-secondary;
  margin-right: 1rem;
  display: flex;
}

.skills ul {
  display: flex;
}

.skills img {
  height: 2rem;
}

.work h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.2;
}

.work p {
  font-style: $font-secondary;
}

.work img {
  width: 100%;
  height: 100vw;
  object-fit: fill;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .work {
    gap: 3.5rem;
    flex-wrap: nowrap;
  }

  .work h1 {
    line-height: normal;
  }

  .work-col {
    width: 50%;
  }

  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .work p {
    padding-left: 2.5rem;
  }

  .work img {
    height: 100%;
  }

  .skills img {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.image-css {
  padding: 0.4rem;
  box-sizing: border-box;
}

.image-gulp {
  padding-bottom: 0.4rem;
  box-sizing: border-box;
}

.skills.work-aster {
  margin-bottom: -0.4rem;
}

//Work Cards
.work-wrapper h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.img-work-sm {
  width: 30%;
  height: 15rem;
}

.img-work-sm img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -8px top;
  border-radius: 1rem;
  border: 1px solid $color-secondary;
}
