//Work
.work {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.skills li {
  font-style: italic;
  font-style: $font-secondary;
  margin-right: 1rem;
  display: flex;
}

.skills ul {
  display: flex;
}

.skills img {
  height: 2rem;
}

.work h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.2;
}

.work p {
  font-style: $font-secondary;
}

.image-mockup {
  width: 100%;
  object-fit: fill;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.work-info,
.skills {
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.work-info.left,
.skills {
  transform: translateX(calc(-100% - $xpadding));
}

.work-info.right {
  transform: translateX(calc(100% + $xpadding));
}

.active .work-info.left,
.active .skills,
.active .work-info.right {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 576px) {
  .work {
    gap: 3.5rem;
    flex-wrap: nowrap;
  }

  .work h1 {
    line-height: normal;
    font-size: 3rem;
  }

  .work p {
    padding-left: 2.5rem;
  }

  .skills img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .skills img.image-gulp {
    width: auto;
  }
}

.work-links {
  padding-left: 2.5rem;
}

.work-links a {
  margin-right: 1rem;
  font-weight: 500;
  color: $color-dark;
  text-decoration: underline;
}

.work-links a:hover {
  color: $text-secondary-color;
}

//Work Cards
.work-wrapper h2 {
  text-align: center;
  margin-bottom: 2rem;
}
